header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: solid #CCCCCC 1px;
    top: 0;
    display: flex;
    align-items: center;
}
header span, .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 142px;
    height: 60px;
    margin-left: 20px;
}
